<div class="input-group input-group-sm">
  <input ref="{{ ctx.ref.searchInput }}" class="form-control" id="{{ctx.instance.id}}-{{ctx.component.key}}" disabled="disabled" value="{{ ctx.description }}" />
  <div class="input-group-append">
    <button class="btn btn-primary btn-sm" ref="{{ ctx.ref.schedulerAdd }}"><i class="fa fa-calendar-alt"></i></button>
    <button class="btn btn-danger btn-sm" ref="{{ ctx.ref.schedulerClear }}" {% if (!ctx.description) { %} disabled="disabled" {% } %} ><i class="fa fa-trash"></i></button>
</div>
</div>