<div class="{{ ctx.component.className }}" ref="gplabel" title="{{ctx.component.label}}"
  {% ctx.attrs.forEach(function(attr) { %}
    {{attr.attr}}="{{attr.value}}"
  {% }) %}
>{{ctx.t(ctx.content)}}{% if (!ctx.singleTags || ctx.singleTags.indexOf(ctx.tag) === -1) { %}</div>{% } %}
