<div class="card form-builder-panel" ref="group-panel-{{ctx.groupKey}}">
  <div class="card-header form-builder-group-header" id="heading-{{ctx.groupKey}}">
    <h5 class="mb-0 mt-0">
      <button
        class="btn btn-block builder-group-button"
        type="button"
        data-toggle="collapse"
        data-target="#group-{{ctx.groupKey}}"
        data-parent="#{{ctx.groupId}}"
        aria-expanded="{{ctx.group.default}}"
        aria-controls="group-{{ctx.groupKey}}"
        ref="sidebar-anchor"
      >
        {{ctx.t(ctx.group.title)}}
      </button>
    </h5>
  </div>
  <div
    id="group-{{ctx.groupKey}}"
    class="collapse {{ctx.group.default ? ' show' : ''}}"
    data-parent="#{{ctx.groupId}}"
    data-default="{{ctx.group.default}}"
    aria-labelledby="heading-{{ctx.groupKey}}"
    ref="sidebar-group"
  >
    <div id="group-container-{{ctx.groupKey}}" class="card-body no-drop p-2" ref="sidebar-container">
      {% if (ctx.groupKey == 'custom') { %}
      <div class="input-group input-group-sm">
        <input id="search-custom-component" class="form-control form-control-sm" placeholder="Search" type="search">
        <div class="input-group-append show">    
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" id="dsgn-advanced-filter-dropdown">
              <h6 class="dropdown-header">Filter by Type</h6>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="type" data-filter="textfield" href="#">Text Fields</a>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="type" data-filter="number" href="#">Number Fields</a>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="type" data-filter="formula" href="#">Formula Fields</a>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="type" data-filter="measure" href="#">Measure Fields</a>
              <h6 class="dropdown-header">Filter by Source</h6>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="source" data-filter="dcee8" href="#">Construction Permit</a>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="source" data-filter="ad224" href="#">Building Subcode</a>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="source" data-filter="e6699" href="#">Electrical Subcode</a>
              <a class="dropdown-item dsgn-filter-by" data-filter-by="source" data-filter="12345" href="#">Fire Subcode</a>
            </div>
          </div>
        </div>
      {% } %}
      {% !ctx.group.componentOrder || ctx.group.componentOrder.forEach(function(componentKey) { %}
      <span
        data-group="{{ctx.groupKey}}"
        data-key="{{ctx.group.components[componentKey].key}}"
        data-type="{{ctx.group.components[componentKey].schema.type}}"
        class="btn btn-primary btn-sm btn-block formcomponent drag-copy"
      >
        {% if (ctx.group.components[componentKey].icon) { %}
          <i class="{{ctx.iconClass(ctx.group.components[componentKey].icon)}}" style="margin-right: 5px;"></i>
        {% } %}
        {{ctx.t(ctx.group.components[componentKey].title)}}
        </span>
      {% }) %}
      {{ctx.subgroups.join('')}}
    </div>
  </div>
</div>
